<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/meta.ejs') %>
  </head>
  <body>
    <ul class="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off"/>
      <button>Send</button>
    </form>
    <%- include('partials/scripts.ejs') %>
  </body>
</html>
