<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/meta.ejs') %>
  </head>
  <body>
    <ul id="messagelist"></ul>
    <form id="chatform">
      <input id="message" autocomplete="off"/>
      <button>Send message</button>
    </form>
    <%- include('partials/scripts.ejs') %>
  </body>
</html>
