body {
  background-color: #f4f6f7;
  margin: 0;
  color: white;
}

nav {
  background-color: #2196f3;
  padding: 1.5em;
}
nav li {
  margin-right: 1em;
}

.connected {
  display: flex;
}
.connected li:first-child {
  margin-right: auto;
}

textarea {
  font-size: 1em;
  width: 100%;
  height: 80vh;
  border: none;
  resize: none;
  outline: none;
  padding: 1em;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

textarea:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
}

section {
  display: flex;
  margin: 2em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

iframe {
  width: 100vw;
}
