body {
  background-color: #f4f6f7;
  margin: 0;
  color: white;
}

nav {
  background-color: #2196f3;
  padding: 1.5em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 0.4em;
}
nav li {
  margin-right: 1em;
}

.connected {
  display: flex;
}
.connected li:first-child {
  margin-right: auto;
}

textarea {
  font-size: 1em;
  width: 100%;
  height: 70vh;
  border: none;
  resize: none;
  outline: none;
  padding: 1em;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

textarea:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
}

section {
  display: flex;
  margin: 2em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

iframe {
  width: 100vw;
}

form {
  display: flex;
  padding: 1em;
  background-color: #fff;
}

button {
  flex: 1;
  margin: 0em 2em;
  max-width: 10em;
  border-radius: 0.5em;
  background-color: #2196f3;
  transition: 250ms;
  cursor: pointer;
  font-size: 0.8em;
}

button:hover {
  background-color: #1e88e5;
  box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 6px 6px rgba(0,0,0,0.12);
}

input {
  flex: 2;
  padding: 0.5em;
  border: none;
  border-bottom: 1px solid #2196f3;
  transition: all 250ms;
}

input:focus {
  outline: none;
  border-bottom: 3px solid #2196f3;
}
