<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/meta.ejs') %>
  </head>
  <body>
    <h1>Overzicht van je playlists</h1>
    <section class="playlists">
      <% for(var i = 0; i < playlists.items.length; i++) { %>

        <a href="<%= playlists.items[i].id %>">
          <article>
            <p><%= playlists.items[i].snippet.title %></p>
            <img src="<%= playlists.items[i].snippet.thumbnails.default.url %>">
          </article>
        </a>
      <% } %>


    </section>
  </body>
</html>
