<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/meta -%>
    <%- include ../partials/icons -%>
    <meta name="google-signin-client_id" content="613875210062-3e1mafmiuvdcqhkhcbst24pic6jkp64l.apps.googleusercontent.com">
    <link type="text/css" rel="stylesheet" href="/css/pages/login.css">
    <title>Login</title>
  </head>

  <body>
    <section>
      <header>
        <svg class="logo" viewBox="0 0 32 42" xmlns="http://www.w3.org/2000/svg"><title>youpad_icon</title><g fill="none" fill-rule="evenodd"><path d="M29 42H3c-1.657 0-3-1.343-3-3V3c0-1.657 1.343-3 3-3h19l10 10v29c0 1.657-1.343 3-3 3z" fill="#2196F3" fill-rule="nonzero"/><path d="M13.73 26.266l-.002-5.992 5.944 3.007-5.943 2.986zm13.05-7.03s-.215-1.47-.874-2.117c-.837-.85-1.775-.855-2.205-.904C20.624 16 16.006 16 16.006 16h-.01s-4.618 0-7.696.216c-.43.05-1.37.054-2.206.903-.66.646-.874 2.116-.874 2.116S5 20.962 5 22.688v1.618c0 1.725.22 3.45.22 3.45s.215 1.47.874 2.118c.837.85 1.936.823 2.426.912C10.28 30.95 16 31 16 31s4.623-.007 7.7-.222c.43-.05 1.37-.054 2.206-.904.66-.647.874-2.117.874-2.117s.22-1.726.22-3.45v-1.62c0-1.725-.22-3.45-.22-3.45z" fill="#FFF"/><path fill="#BBDEFB" fill-rule="nonzero" d="M32 10H22V0"/><path fill="#1565C0" fill-rule="nonzero" d="M22 10l10 10V10"/></g></svg>
        <h1>YouPad</h1>
      </header>
      <h2>Make notes together!</h2><p>Just add the Youtube video you want to watch and make real-time notes with other students.</p>
      <main class="welcome">
        <div class="login">
          <div id="my-signin2" data-onsuccess="onSignIn"></div>
        </div>
        <div class="profile">
        </div>
        <a class="g-signout hidden" href="#" onclick="signOut();">Sign out</a>
      </main>
  </section>
  <script src="/js/login.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  </body>
</html>
