<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/meta -%>
    <%- include ../partials/icons -%>
    <meta name="google-signin-client_id" content="613875210062-3e1mafmiuvdcqhkhcbst24pic6jkp64l.apps.googleusercontent.com">
    <link type="text/css" rel="stylesheet" href="/css/pages/login.css">
    <title>Login</title>
  </head>

  <body>
    <section>
      <header>
    s
        <h1>YouPad</h1>
      </header>
      <h2>Make notes together!</h2><p>Just add the Youtube video you want to watch and make real-time notes with other students.</p>
      <main class="welcome">
        <div class="login">
          <div id="my-signin2" data-onsuccess="onSignIn"></div>
        </div>
        <div class="profile">
        </div>
        <a class="g-signout hidden" href="#" onclick="signOut();">Sign out</a>
      </main>
  </section>
  <script src="/js/login.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  </body>
</html>
