<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/meta -%>
    <%- include ../partials/script -%>
    <link type="text/css" rel="stylesheet" href="/css/pages/login.css">
    <title>Login</title>
  </head>

  <body>
    <section class="login">
      <button class="g-signin2" data-onsuccess="onSignIn"></button>
    </section>
  </body>
</html>
