<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/meta -%>
    <meta name="google-signin-client_id" content="613875210062-3e1mafmiuvdcqhkhcbst24pic6jkp64l.apps.googleusercontent.com">
    <link type="text/css" rel="stylesheet" href="/css/pages/login.css">
    <title>Login</title>
  </head>

  <body>
    <section class="welcome">
      <div class="login">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
      <a href="#" onclick="signOut();">Sign out</a>
      <div class="profile">
      </div>
    </section>
  <script src="/js/login.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
