<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <%- include ../partials/icons -%>
    <title>Room</title>
    <!-- Add socket.io client library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/pages/room.css">
  </head>

  <body>
    <nav>
      <ul class="connected">
        <li>Room 137</li>
        <%
          var html = '';
          Object.keys(connectedUsers).forEach(function(id) {
            var userProfile = connectedUsers[id];
            html += `
              <li data-id="${id}" class="user">
                <img src="${userProfile.profileImage}">
                <p><strong>${userProfile.profileName}</strong></p>
                <a href="/room">Go to room</a>
              </li>`;
          }) %>
          <%- html %>
      </ul>
    </nav>
    <form id="search">
      <input id="keyword" type="text" name="video">
      <button>Search</button>
    </form>
    <section>
      <iframe class="video" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
      <textarea autofocus id="text" oninput="sendValue()"></textarea>
    </section>
    <script src="/js/room.js"></script>
  </body>

</html>
