<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <title>Room</title>
    <!-- Add socket.io client library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
  </head>

  <body>
    <h1>Room</h1>
    <div id="text1" contenteditable="true">
      Bacon ipsum dolor amet t-bone venison ball tip beef meatloaf pork belly. Capicola meatball picanha swine short loin flank hamburger bacon cow ground round filet mignon landjaeger. Tenderloin shank drumstick sausage chuck. Hamburger fatback jerky tongue picanha frankfurter leberkas landjaeger strip steak meatloaf. Biltong chicken leberkas strip steak alcatra, porchetta ham brisket.
    </div>
    <button id="send">Send</button>
    <div id="text2">
    </div>
    <script src="/js/room.js"></script>
  </body>

</html>
