<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <%- include ../partials/icons -%>
    <title>Room</title>
    <!-- Add socket.io client library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <!-- Add mediaElement library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.1.1/mediaelement-and-player.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.1.1/mediaelementplayer.min.css">
    <link type="text/css" rel="stylesheet" href="/css/pages/room.css">
  </head>

  <body>
    <nav>
      <ul class="connected">
        <li>Room 137</li>
        <%
          var html = '';
          <!-- Key is same as socket.id loop over all id's, get userProfile for every id. -->
          Object.keys(connectedUsers).forEach(function(id) {
            var userProfile = connectedUsers[id];
            html += `
              <!-- Default user (admin) -->
              <li data-id="${id}" class="user">
                <img src="${userProfile.profileImage}">
                <p>${userProfile.profileName}</p>
              </li>`;
          }) %>
          <%- html %>
      </ul>
    </nav>
    <form id="search">
      <input id="keyword" type="text" placeholder="Enter Youtube url..." name="video">
      <button>Add</button>
    </form>
    <section>
      <dialog open id="dialog">
        <form id="box" method="dialog">
        <p><strong>Welcome to YouPad!</strong><br>Below are some instructions to get you started:</p>
        <ol class="instructions">
          <li><strong>Enter your keyword</strong></li>
          <li><strong>Hit search to get Youtube video's</strong></li>
          <li><strong>Take notes in the box below</strong></li>
          <li><strong>See notes from other students</strong></li>
        </ol>
        <button id="close">Got it, Thanks!</button>
         </form>
      </dialog>
      <video id="player1" preload="none">
          <source type="video/youtube" src="https://www.youtube.com/watch?v=dQw4w9WgXcQ" />
      </video>
      <textarea autofocus id="text" oninput="sendValue()"></textarea>
    </section>
    <%- include ../partials/offline -%>
    <script src="/js/room.js"></script>
  </body>

</html>
