<!DOCTYPE html>
<html>

  <head>
    <%- include ../partials/meta -%>
    <title>Room</title>
    <!-- Add socket.io client library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/pages/room.css">
  </head>

  <body>
    <nav>
      <ul class="connected">
        <li>Room #137</li>
        <li>Piet</li>
        <li>Peter</li>
      </ul>
    </nav>
    <section>
      <iframe class="video" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen></iframe>
      <textarea id="text" oninput="sendValue()"></textarea>
    </section>
    <script src="/js/room.js"></script>
  </body>

</html>
